name: Build and Push Docker Image to ECR Public

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Verify Docker and AWS CLI
      run: |
        which docker
        docker --version
        which aws
        aws --version

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Create ECR public repo if not exists
      run: |
        aws ecr-public describe-repositories \
          --region eu-west-1 \
          --repository-names ${{ secrets.ECR_REPO_NAME }} || \
        aws ecr-public create-repository \
          --repository-name ${{ secrets.ECR_REPO_NAME }} \
          --region eu-west-1

    - name: Login to Amazon ECR Public
      run: aws ecr-public get-login-password --region eu-west-1 | \
           docker login --username AWS \
           --password-stdin public.ecr.aws/${{ secrets.ECR_PUBLIC_ALIAS }}

    - name: Build Docker image
      run: |
        IMAGE_TAG="public.ecr.aws/${{ secrets.ECR_PUBLIC_ALIAS }}/${{ secrets.ECR_REPO_NAME }}"
        docker build -t $IMAGE_TAG .
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    - name: Push Docker image to Amazon ECR Public
      run: |
        docker push $IMAGE_TAG
      env:
        IMAGE_TAG: ${{ env.IMAGE_TAG }}
